<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>“喵汪回家”宠物免费领养品台</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="javascripts/jquery-2.2.4.js"></script>
  <script src="javascripts/common.js"></script>
</head>
<body>
  <% include header.html %>

  <ul class="">
    <% srcs.forEach(function(item){ %>
      <li><img src="../dataInfo/img/<%= item %>"></li>
        <% }) %>
  </ul>

  <div class="detail_info">
    <ul>
      <li>品种：<%= cat.breed %></li>
      <li>花色：<%= cat.color %></li>
      <li>名字：<%= cat.name %></li>
      <li>性别：<%= cat.sex %></li>
      <li>年龄：<%= cat.age %></li>
      <li>性格：<%= cat.nature %></li>
      <li>疫苗情况：<%= cat.vaccinum %></li>
      <li>驱虫情况：<%= cat.expelling %></li>
      <li>绝育情况：<%= cat.sterilization %></li>
      <li>来源：<%= cat.origin %></li>
      <li>是否需要押金：<%= cat.deposit %></li>
      <li>备注：<%= cat.remark %></li>
    </ul>

  </div>
</body>
</html>